<div class="center jumbotron">
  <h1>A propos</h1>
  <h3>
    Pourquoi ce site ?
  </h3>
<p> Ce site tente d'apporter une réponse à une question fondammentale de l'existence : Kebab ou Hummus ?
</div>
